<div class="col">
    <p class="font-italic">Edit a recipe</p>
    <form [formGroup]="recipeForm" #form="ngForm" (ngSubmit)="update()">
        <div class="row">
            <div class="form-group col-sm-12 col-md-4">
                <input formControlName="name" [class.is-invalid]="recipeForm.controls.name.invalid && (recipeForm.controls.name.dirty || form.submitted )" type="text" class="form-control" placeholder="Name">
                <div class="invalid-feedback">
                    Please provide a name.
                </div>
            </div>
            
            <div>
    
                <select formControlName="category" class="form-control" placeholder="Category" >
                    <!-- Below line will be looped through the keys and for every key, set label as value from enum pair and key as value attribute of <option> tag-->
                    <option *ngFor="let key of categoryOptions" [value]="key" [label]="categories[key]"></option>
                </select>
                
            </div>
            
            <div class="form-group col-sm-12 col-md-6">
                <input formControlName="description" [class.is-invalid]="recipeForm.controls.description.invalid && (recipeForm.controls.description.dirty || form.submitted )" type="url" class="form-control " placeholder="Description">
                <div class="invalid-feedback">
                    Please provide a description.
                </div>
            </div>

            <div class="col-sm-12 col-md-auto text-right">
                <button type="submit"  class="btn btn-success">Save</button>
            </div>
        </div>
    </form>
</div>