
<div class="container">
    <div class="row">
        <app-recipe-create (recipeCreate)="recipeCreated($event)"></app-recipe-create>
    </div>

    <div class="row">
        <div class="col">
            <p [ngStyle]="{ fontWeight: 'bold', fontStyle: 'italic', marginTop: '16px' }">{{recipes.length}} recipes</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div *ngIf="recipes.length == 0 else recipesList">
                <p>No recipes to show...</p>
            </div>
            <ng-template #recipesList>
                <table class="table table-hover">
                    <tbody>
                        <tr *ngFor="let recip of recipes" app-recipe-row [recipe]="recip" (recipeDelete)="recipeDeleted()">
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </div>
    </div>
</div>
