<div class="container text-center">
    <div class="row">
        <div class="col">
           <h2>{{ 'LOGIN.TITLE' | translate }}</h2>
           
        </div>
    </div>

   <div class="row mt-2">
       <div class="col-10 offset-1">
           <form  #loginForm="ngForm" (ngSubmit)="login(usernameInput.value, passwordInput.value)">
               <div class="form-group">
               <input #usernameInput ngModel name="username" type="username" required placeholder="{{ 'LOGIN.USERNAME' | translate }}" class="form-control" >
               </div>

               <div class="form-group">
               <input #passwordInput ngModel name="password"  type="password" required placeholder="{{ 'LOGIN.PASSWORD' | translate }}" class="form-control" >
               </div>

               <button [disabled]="loginForm.valid == false" class="btn btn-lg btn-primary btn-block" type="submit">{{ 'LOGIN.LOGIN' | translate }}</button>
           </form>
       </div>
   </div>
</div>  