<nav class="navbar navbar-expand navbar-dark bg-primary">
    <div class="collapse navbar-collapse" style="height: 40px;">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="loggedIn === false" class="nav-item active">
            <a class="nav-link"  [routerLink]="['/']" href="">{{ 'LOGIN.LOGIN' | translate }}</a>
          </li>
        <li  class="nav-item active" >
          <a class="nav-link"   [routerLink]="['/recipes']" href="">{{ 'LOGIN.RECIPES' | translate }}<span class="sr-only">(current)</span></a>
        </li>
      </ul>

      <button *ngIf="loggedIn" (click)="logout()" type="button" class="btn btn-outline-light">{{ 'LOGIN.LOGOUT' | translate }}</button>
      <label>
        {{ 'LOGIN.SELECT' | translate }}
        <select #langSelect (change)="translate.use(langSelect.value)">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
        </select>
      </label>
    </div>
  </nav>