<td>
    <div class="row">
        <div class="col">
            <h5>{{recipe.name}}</h5>
            <p class="text-muted">{{recipe.description}}</p>
            <p class="text-muted">{{category[recipe.category]}}</p>
           <!-- <p class="text-muted">{{recipe.category}}</p>-->
        </div>

        <div class="col-auto">
            <div class="col-12 pr-0">
                <button type="button"  (click)="view()" class="btn btn-sm btn-warning">View</button>
            </div>
            <div class="col-12 mt-3 pr-0">
                <button type="button" (click)="delete()" class="btn btn-sm btn-outline-danger w-100">X</button>
            </div>
        </div>
    </div>
</td>